.container {
  background: rgba(91, 247, 156, 0.37);
}

.game {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 750px;
  height: 925px;
}

.game-main {
  height: 100vh;
  position: relative;
  flex: 2.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.game-history {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.game-name {
  font-size: 60px;
}

.game-result {
  margin-top: -30px;
  font-size: 32px;
}

.game-board {
  margin-bottom: 0px;
}

.btn {
  width: 200px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 12px;
  outline: none;
}

.btn-new-game {
  width: 160px;
  padding: 8px 16px;
  background: red;
  color: white;
  font-size: 24px;
}

.btn-sort {
  width: 120px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 4px 8px;
  font-size: 16px;
  background: blue;
  border-radius: 4px;
  color: white;
}

.game-history h2 {
  font-size: 32px;
  margin-top: 110px;
}

.move-history {
  flex: 26;
}

.move-history button {
  width: 150px;
  height: 24px;
  cursor: pointer;
  margin-bottom: 2px;
  font-size: 12px;
  border: 1px solid black;
}

.btn-current {
  background-color: #12e919;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}  